<plugin name='jabber' version='0.2' grailsVersion='1.1.1 &gt; *'>
  <author>Kit Plummer (o.g. Glen Smith)</author>
  <authorEmail>kitplummer@gmail.com</authorEmail>
  <title>Jabber Plugin</title>
  <description>This plugin provides the opportunity to send and receive Chat messages via the Jabber API. Based off the original work by Glen Smith
</description>
  <documentation>http://grails.org/plugin/jabber</documentation>
  <resources>
    <resource>Config</resource>
  </resources>
  <dependencies />
</plugin>